/*导航样式开始*/
.nav{
	width: 100%;
	height: 103px;
	background-color: #fff;
	border: 1px solid #d5d5d5;
}
.wrap{
	width: 1196px;
	margin: 0 auto;
}
.logo{
	width: 206px;
	
	float: left;
}
.logo>img{
	margin-top: 26.5px;
}
.r_nav{
	width: 990px;
	height: 103px;
	/*background-color: deeppink;*/
	float: left;
}
.t_nav{
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*background-color: red;*/
	color: #9F9F9F;
}
.b_nav{
	width: 100%;
	height: 73px;
	line-height: 73px;
	/*background-color: greenyellow;*/
	clear: both;
}

.r_nav ul{
	float: right;
}
.r_nav li{
	float: left;
}
.t_nav a{
	color: #9f9f9f;
	font-size: 12px;
	margin: 0 10px;
}
.t_nav li:first-child>a{
	color: #EF4222;
}
.r_nav a:hover{
	color:#ef4222;
}
.b_nav a{
	color: #000;
	font-size: 16px;
	margin: 0 29px;
}
.search{
	width: 165px;
	height: 28px;
	border: 1px solid #ddd;
	padding-left: 3px;
	margin-top: 21.5px;
}
.search input{
	width: 138px;
	height: 28px;
	float: left;
} 
.search button{
	width: 25px;
	height: 28px;
	background-color: #fff;
	float: left;
}
.t_nav li:last-child{
	position: relative;
}
.t_nav li:last-child:hover .cart{
	height: 53px;
	line-height: 53px;
	border: 1px solid rgb(153,153,153);
}
.cart{
	width: 313px;
	height: 0;
	/*border: 1px solid rgb(153,153,153);*/
	position: absolute;
	right: 0;
	top: 31px;
	background-color: #FFFFFF;
	/*line-height: 53px;*/
	overflow: hidden;
	transition: all .5s;
}
/*导航样式结束*/
/*轮播图样式开始*/
.carousel{
	width: 100%;
	height: 640px;
	background-color: red;
	background: url(../img/04_1515047442501.jpg);
	background-position: -300px;
	-webkit-animation: lb 10s infinite alternate;	
}
@-webkit-keyframes lb {
    0%{
        background-image: url("../img/04_1515047442501.jpg");
    }
    25%{
        background-image: url("../img/02_1517536570441.jpg");
    }
    50%{
        background-image: url("../img/04_1515047442501.jpg");
    }
    75%{
        background-image: url("../img/02_1517536570441.jpg");
    }
    100%{
        background-image: url("../img/04_1515047442501.jpg");
    }
 }
/*轮播图样式结束*/
/*明星产品开始*/
.star{
	width: 100%;
	height: 451px;
	/*background-color: pink;*/
}
.star h2{
	font-size: 30px;
	font-weight: normal;
	padding: 40px 0;
}
.img_box>div{
	width: 390px;
	height: 270px;
	float: left;
	position: relative;
	
}
.img_box>div:nth-child(2){
	margin: 0 13px;
}
.img_box ul{
	color: #FFFFFF;
	text-align: left;
	position: absolute;
	top: 100px;
	left: 215px;
	font-size: 16px;
}
.img_box ul li{
	line-height: 23px;
	list-style-type: disc;
	list-style-position: inside;
}
/*明星产品结束*/
/*热卖推荐开始*/
.hot_box{
    padding-bottom: 40px;
    overflow: hidden;
    /*background: red;*/
}
.hot_box .left{
    width: 305px;
    height: 785px;
    float: left;
}
.hot_box .right{
    width: 891px ;
    height: 785px;
    float: left;
}
.right>div{
    width: 290px;
    height: 390px;
    background-color: #fff;
    float: left;
    margin:0 0  5px 7px;
    /*margin-left: 7px;*/
}
.iph_box{
    width: 100%;
    height: 240px;
    margin: 20px 0;
    position: relative;
}
.iph_box>img{
    width: 120px;
    position: absolute;
    top: 0;
    left: 90px;
    transition: all .5s;
}
.iph_box:hover .prev{
    left: 60px;
}
.iph_box:hover .next{
    left: 120px;
}
/*热卖推荐结束*/

/*精美配件开始*/
.peij,.hot{
    width: 100%;
    background-color: #e5e5e5;
}
.peij h2,.hot h2{
    font-weight: normal;
    font-size: 30px;
    padding-top: 40px;
}
.peij .more,.hot .more{
    text-align: right;
    padding-bottom: 15px;
}
.peij .more a,.hot .more a{
    color: #000;
    font-size: 15px;
}
.peij .more a:hover,.hot .more a:hover{
    color: #ef4222;
}
.pj_box{
    width: 100%;
    height: 778px;
}
.pj_box>div{
    width: 386px;
    height: 343px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
    transition: all ease-in .3s;
}
.pj_box>div:hover{
    transform: translate(0,-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
}
.text_box{
    width: 100%;
    height: 86px;
    position: absolute;
    left: 0;
    bottom: 12px;
}
.text_box>h3,.right h3{
    font-weight: normal;
}
.text_box>p,.right p{
    color: #9e9e9e;
    padding-top: 3px;
}
.text_box>span,.right span{
    color: #ef4222;
    font-size: 24px;
    padding-top: 2px;
    display: inline-block;
}
/*精美配件结束*/